<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>
<header th:fragment="navbar">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Weather App</a>
            <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
                    class="navbar-toggler" data-bs-target="#navbarSupportedContent" data-bs-toggle="collapse"
                    type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <form action="/search" class="d-flex" method="get" role="search">
                <input aria-label="Search" class="form-control me-2" name="searchRequest" placeholder="Search"
                       type="search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
            <div>
                <div class="col d-flex justify-content-end" th:if="${login eq null}">
                    <a class="btn btn-outline-primary px-3" href="/sign-in">Sign in</a>
                    <a class="btn btn-primary px-3 ms-2" href="/sign-up">Sign up</a>
                </div>
                <div class="col d-flex justify-content-end" th:unless="${login eq null}">
                    <span class="d-inline-block text-center px-3 align-middle my-auto" th:text="${login}">Login</span>
                    <a class="btn btn-primary px-3 ms-2" href="/logout">Logout</a>
                </div>
            </div>
        </div>
    </nav>
</header>
</body>

</html>